body{
    font-family:'roboto',sans-serif;
}
.nav{
    width: 1350px;
    height:80px;
    display:flex;
    justify-content: space-between;
    color:whitesmoke;
    background-color:rgb(51,51,51);
    align-items: center;
    padding:0px;
    
}
.nav-links{
    justify-content: space-between;
    display:flex;
    align-items: center;
    width:50%;
    list-style: none;
    text-decoration:none ;
    
}
a{
    text-decoration: none;
    color:antiquewhite;

}
.btn{
    color:white;
    width:100px;
    height:30px;
    background-color:rgb(61, 61, 231);
    box-shadow: 5px 5px, black;
    font-size: 20px;
}