 h1{
    color:white;
    background-color: black;
    text-align: left;
 }

h2 {
    background-color: rebeccapurple;
    color: white;
    text-align: center;
    font-style: italic;
}

h3 {
    background-color: cadetblue;
    text-align: right;
    text-decoration: underline;
}