* {
    font-family: sans-serif;
}
h1{
    text-align: center;
    color:rgba(57, 57, 117, 0.488);
    
}
.container{
    width: 800px;
    text-align: center;
    background-color: rgb(104, 63, 143);
    margin:0 auto;
    padding: 20px;

}
.row{
    display:flex;
    justify-content: space-between;
    padding:20px;
    margin:20px;
    background-color: blueviolet;
}
.pink {
    background-color: lightpink;
    justify-content: center;
}

.blue {
    background-color: cyan;
}